@model BankAccountNet.Models.TermDeposit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TermDeposit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermCreation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
