@model IEnumerable<BankAccountNet.Models.AccountDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>

        <td>
            @Html.ActionLink("Withdraw", "Withdraw", new { id = item.AccountID }) |
            @Html.ActionLink("Deposit", "Deposit", new { id = item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
            @Html.ActionLink("Term Deposits", "ViewTermDeposit", new { id = item.AccountID }) |
            @Html.ActionLink("Loans", "ViewLoans", new { id = item.AccountID }) |
            @Html.ActionLink("Return", "ViewCustomers", new { id = item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
        </td>
    </tr>
}

</table>
